
name: Simple Hello Workflow

on:
  workflow_dispatch:    # Manual trigger
  push:                 # Trigger on push
    branches:
      - main

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print Hello
        run: echo "Hello"
