
name: Advanced Hello Workflow

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Message to print'
        required: true
        default: 'Hello from workflow_dispatch!'
  push:
    branches:
      - main

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print Custom Message
        run: echo "${{ github.event.inputs.message }}"
