name: 05-2-filters-activity-Types
on:
 pull_request:
  branches:
   - main
  types: [closed]
jobs:
 echo:
  runs-on: ubuntu-latest
  steps:
   - name: PrClosed
     run: echo "Running whenever a PR is closed"
     