name: 07- Using Expressions
on:
 push:
  branches:
   - main
 workflow_dispatch:
   inputs:
     debug:
       type: boolean
       default: false
jobs:
 echo:
  runs-on: ubuntu-latest
  steps:
   - name: [debug] Print start-up data
     if: ${{github.event.inputs.debug == 'true'}}
     run: |
       echo "Event name: ${{github.event_name}} "
       echo "Ref: ${{github.ref}}"
       echo "SHA: ${{github.sha}}"
   - name: [debug] Print when triggered from main
     if: ${{ github.ref == 'refs/heads/main' }}
     run: |
        echo "Im triggered from main"
       
    
